.checkbox {
    &__input {
        &:checked ~ .checkbox__custom {
            background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0C6.682 0 0 6.682 0 15s6.682 15 15 15 15-6.682 15-15S23.318 0 15 0zm8.66 10.296L12.75 21.614a.619.619 0 01-.477.204c-.205 0-.41-.068-.477-.204l-5.319-5.728-.136-.136a.737.737 0 01-.205-.477c0-.137.069-.341.205-.477l.954-.955a.66.66 0 01.955 0l.068.068 3.75 4.023a.33.33 0 00.478 0l9.204-9.477a.659.659 0 01.954 0l.955.954c.273.205.273.614 0 .886z' fill='%23fff'/%3E%3C/svg%3E");
        }
    }
    &__custom {
        display: block;
        width: 25px;
        height: 25px;
        background-color: $color-main;
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 15c0 8.284-6.716 15-15 15-8.284 0-15-6.716-15-15C0 6.716 6.716 0 15 0c8.284 0 15 6.716 15 15z' fill='%23fff'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
}