.item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: $color-main;
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2), 0 0 1px 0 rgba(0,0,0,.15);
    transition: background-color 0.2s ease;
    &__label {
        margin-left: 5px;
        flex: 1;
        text-decoration: inherit;
    }
}
.item--completed {
    text-decoration: line-through;
    filter: grayscale(0.7);
    opacity: 0.7;
}
.item--error {
    background-color: $color-danger;
}
.item--shake {
    animation: shake 0.3s forwards ease-in;
}


@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    55% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }

}